{% extends 'layout.html' %}

    {% block titulo %}
        Agregar Mascota
    {% endblock titulo %}


    {% block contenido %}
    <div class="text-center col-md-9 col-xl-10 m-auto" style="width: 80%;">
        <div>
            <h1>Agregar nueva mascota</h1>
        </div>
        <form action="" method="POST" id="formulario">
            {% csrf_token %}{% comment %} Se usa siempre este token cuando se está usando el metodo post en un formulario {% endcomment %}
            <div class="form-group">
                {{form.as_table}}
            </div>
            <input type = "submit" class= "btn btn-primary" value="Guardar" id="modificar">
            <input type = "reset" class= "btn btn-danger" value="Limpiar" id="limpiar">
            <button type= "button" class="btn btn-secondary" value="Ver Lista" id="lista"><a href = {% url "listarMascotas" %}>Ver Lista</a></button>
        </form>
        <div class="alert alert-success" role="alert">
            {{mensaje}}
        </div>
    </div>
    {% endblock contenido %}

