* {
    box-sizing: border-box;
}

.navbar a {
    padding-bottom: 30px;
}
img {
    width: 100%;
}
body {
    background-image: url("Fondo.jpg");
    background-size: cover;
    margin: 0;
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}
.dropdown {
    position: relative;
}
.d-flex {
    display: flex!important;
}
.text-justify {
    text-align: justify;
}
#menuvertical {
    background-color:#3FB8A7;
    padding:0%;
}
#menuvertical a{
    font-size: 1.2rem;
    text-decoration: none;
    color: white; 
}
#menuvertical a:hover{
    color: #19172A;
    text-decoration: none;
    background: #B0DEEB;
}
.text-primario {
    color: #19172A!important;
}
.labelCiudad {
    width: 300px;
}
@media screen and (min-width:767px) {
    #menuvertical {
        min-height: calc(100vh - 50px);
    }
}
/* portfolio */

#portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0;
  }
  #portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
  }
  #portfolio .portfolio-item .portfolio-link .caption {
    background: rgba(24, 188, 156, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
  }
  #portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
  }
  #portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: white;
  }
  #portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
  }
  #portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
  #portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
  }
  #portfolio * {
    z-index: 2;
  }
  @media (min-width: 767px) {
    #portfolio .portfolio-item {
      margin: 0 0 30px;
    }
  }
  .floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eeeeee;
  }
  .floating-label-form-group input,
  .floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    box-shadow: none !important;
    resize: none;
  }
  .floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    opacity: 0;
    -webkit-transition: top 0.3s ease,opacity 0.3s ease;
    -moz-transition: top 0.3s ease,opacity 0.3s ease;
    -ms-transition: top 0.3s ease,opacity 0.3s ease;
    transition: top 0.3s ease,opacity 0.3s ease;
  }
  .floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eeeeee;
  }
  .floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
  }
  .floating-label-form-group-with-focus label {
    color: #18BC9C;
  }
  